{% extends '!layout.html' %}

{% block document %}
	{{ super() }}
	{% if use_vcs_ribbon == True %}
    <a href="https://{{ vcs_domain }}/{{ vcs_username }}/{{ project_name }}" {{ ribbon_target }}>
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="{{ ribbon_title }}">
		</a>
	{% endif %}

{% endblock %}

{% block menu %}
	<center><font color="gray">Current Release: {{ release }}</font></center>
	<hr style="height:1px; border:none; color:#000; background-color:#000;">

	<a href="https://github.com/karlredman/{{ project_name }}"><font color="#76D7C4">Github Project Page</font></a>
	<a href="https://pypi.org/project/{{ project_name }}"><font color="#76D7C4">PyPi Project Page</font></a>
	{{ super() }}
	<a href="{{ author_homepage }}"><font color="#7D6608">Author's Homepage</font></a>
	<a href="https://{{ vcs_username }}.{{ doc_domain }}/{{ project_name }}/genindex.html"><font color="#196F3D">Overview: Source Code Function Index</font></a>
	<a href="https://{{ vcs_username }}.{{ doc_domain }}/{{ project_name }}/_modules/index.html"><font color="#196F3D">Overview: Source Code Index</font></a>


	<!-- <hr style="height:1px; border:none; border-top: dashed 1px; color:#000; background-color:#000;"> -->
	<!-- <hr style="border-top:dashed; color:#000; background-color:#000;"> -->
	<!-- <hr style="border-top: dashed 1px; color:#000; background-color#000" /> -->
	<!-- <hr style="border-top: dashed 1px;" /> -->
	<!-- <a href="{{ author_homepage }}"><font color="#F7DC6F">Author's Homepage</font></a> -->
{% endblock %}

